layout {
    border {
        active-color "{{colors.primary.default.hex}}"
        inactive-color "{{colors.surface_container_highest.default.hex}}"
        urgent-color "{{colors.error.default.hex}}"
    }
}
